
/*common colors*/

.sienna-bg{
    background-color: #E46F2F
}

.sienna-txt{
    color: #E46F2F
}

.rosepink-bg{
    background-color: #F6DBD9
}

.rosepink-txt{
    color: #F6DBD9
}

.black-txt{
    color: #21100A
}

.white-txt{
    color: #F5F5F5
}

.white-bg{
    color: #F5F5F5
}

.linen-bg{
    background-color: #FCF2EC
}

.linen-txt{
    color: #FCF2EC
}

/*quick styles*/

.navbar{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin: auto;
    padding: 1px;
}

.banner{
    text-align: center;
    padding: 1vh;
    margin-top: 6vh;
}
.caption{
    text-align: center;
    width: 90%; 
    max-width: 1080px; 
    margin: auto; 
}

p {
    margin-top: 0.5vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 0.5vw;
}

video{
    width: 85%; 
    max-width: 920px; 
    height: auto; 
    margin: auto; 
    display: block;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    margin-top: 4vh;
}

.footer a{
    padding-right: 2vw;
    padding-left: 2vw;
}

.footer a:hover{
    background-color: #F5F5F5;
    color: rgb(255, 0, 255);
}

.footer div{
    display: flex;
    align-items: center;
}

.footer img {
    height: 40px;
    padding: 10px;
}

/* body style*/

html, body{
    margin: 0;
    padding: 0;
    font-family: "Libre Baskerville", serif;
    line-height: 2em;
}


/*COLUMNS*/
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto;
}

@media only screen and (max-width: 600px) {
    .footer div{
        flex-direction: row;
    }
}